\#*
**/*.db
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
httpd
pgsql
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
lib/products_index_profiler.rb
log/*.log
log
pkg
sandbox
spree_dev
spree_test
testapp
tmp
vendor/rails
vendor/extensions/google_base
coverage/*
var
TAGS
nbproject
vendor/extensions/theme_default/app/stylesheets/*.css
tags
*.swp
rerun.txt
test_app
/public
