\#*
**/*.db
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
config/*-public.asc
config/database.yml
db/*.sql
db/schema.rb
doc/**/*
log
tmp
coverage/*
var
nbproject
*.swp
public
vendor/plugins/yaml_db
db/data.yml
